body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #2c3e50;
}

.post-preview{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.post-preview h2{
    margin: 0 0 0.5rem;
}

.post-preview p{
    margin: 0.5rem 0;
    color: #555;
}

a{
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a.hover{
    text-decoration: underline;
}

.back-link{
    display: inline-block;
    margin-top: 2rem;
    color: #555;
}

.navbar {
  background-color: #2c3e50;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.nav-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}


.post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-form label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.post-form input,
.post-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.post-form button {
  padding: 0.6rem;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.post-form button:hover {
  background-color: #1a242f;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #c0392b;
}

.load-more {
  display: block;
  margin: 2rem auto;
  padding: 0.7rem 1.5rem;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.load-more:hover {
  background-color: #1a242f;
}
